{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!
{% endblock %}

{% block body %}

	<div class="container">

		<h1>Registration ✅</h1>

		{{ form_start(form2) }}
		{{ form_errors(form2) }}
		{{ form_end(form2) }}
		<hr>
		{{ form_start(form1) }}
		{{ form_errors(form1) }}
		{{ form_end(form1) }}


	</div>

{% endblock %}
