{% extends 'base.html.twig' %}

{% block title %}Simulation
{% endblock %}

{% block body %}

	<div class="container">

		<h1>Simulation du badge</h1>
		{% if carparks %}
			<h2>Stationnement en cours</h2>
			<div class="card row flex-row w-50 p-3 m-4 mb-5 justify-content-center">
				<div class="col-12 mb-2">

					<p class="h3 text-center">Parking :
						{{ carparks.parking.name }}</p>
				</div>
				<div class="col-6">
					<p class="h3 text-center">Arrivée :
						{{ carparks.arrival|format_datetime('medium', 'short') }}</p>
				</div>
				<div class="col-3">
					<a class="btn btn-dark" href="{{ path('user_invoice', { id: carparks.id }) }}">Sortir</a>
				</div>
			</div>

		{% else %}

			<h2>Garez-vous</h2>

			{% for parking in parkings %}
				<div class="card row flex-row align-items-center w-50 p-3 m-4">
					<div class="col-6">
						<p>Parking :
							{{ parking.name }}</p>
					</div>
					<div class="col-3">
						<p>Nb. de places :</p>
						<p class="text-center">
							{{ parking.NbPlaces }}</p>
					</div>
					<div class="col-3">
						<a class="btn btn-dark" href="{{ path('user_carpark', { id: parking.id }) }}">Stationner</a>
					</div>
				</div>
			{% endfor %}

		{% endif %}

	</div>
{% endblock %}