{% extends 'base.html.twig' %}

{% block title %}Simulation
{% endblock %}

{% block body %}

	<div class="container">

		<h1>Simulation du badge</h1>
        {% if carparks %}
        <h2>Stationnement en cours</h2>
        <div class="card w-25 p-3 m-4">
            <p>Parking : {{ carparks.parking.name }}</p>
            <p>Arrivée : {{ carparks.arrival|format_datetime('medium', 'short') }}</p>
            <a class="btn" href="{{ path('user_invoice', { id: carparks.id }) }}">Sortir</a>
            </div>
        
		{% else %}
			
		<h2>Garez-vous</h2>

		{% for parking in parkings %}
			<div class="card w-25 p-3 m-4">
				<p>Parking :
					{{ parking.name }}</p>
				<p>adresse :
					{{ parking.adress }}</p>
				<p>Nb. de places :
					{{ parking.NbPlaces }}</p>
                <a class="btn" href="{{ path('user_carpark', { id: parking.id }) }}">Stationner</a>
			</div>
		{% endfor %}

		{% endif %}

	</div>
{% endblock %}
