<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<header>
			<a href="{{ path('app_login') }}">Se connecter</a>
			<a href="{{ path('new_user') }}">Créer un compte</a>
			{# <a href="{{ path('update_user') }}">Modifier un compte</a> #}
            <hr>
			<a href="{{ path('welcome') }}">Accueil</a>
			<a href="{{ path('user') }}">Espace Client</a>
			<a href="{{ path('user_carpark') }}">Stationnement</a>
			<a href="{{ path('user_invoice') }}">Parking</a>
            <hr>
		</header>

		{% block body %}{% endblock %}

		<footer></footer>
	</body>
</html>
